.node-view {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  flex-direction: column;

  & > *:last-child {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  ul {
    list-style: none;
    padding: 0;

    & > li {
      cursor: alias;
      padding: 2px;

      &:hover {
        background-color: #b9dffa;
        border-radius: 4px;
      }
    }
  }
}
